@import "src/sass/partials/colors";

@mixin transform($property) {
  -webkit-rotate: $property;
  -ms-transform: $property;
  transform: $property;
}


.accordion-wrapper {
  .accordion-row {
    .header {
      cursor: pointer;
      width: 100%;
      border-bottom: 1px solid $blackLight;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .accordion-title {
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;
        color: $blackLight;
        font-size: 18px;
      }
      .icon {
        margin: 0;
        padding: 10px 0;
        .accordion-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          transition-property: transform;
          transition-duration: 0.2s;
          transition-timing-function: linear;
          &:before {
            color: $blackLight;
          }
        }
        .show {
          @include transform(rotate(180deg));
        }
        .hide {
          @include transform(rotate(360deg));

        }
      }
    }
  }
}
.body {
  min-height: 50px;
  width: 100%;
  margin-top: 27px;
  text-align: left;

  .accordion-ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    .accordion-li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-left: 16px;
      margin-bottom: 27px;

      &:before {
        content: ' ';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $black;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
      }
      .key {
        font-weight: 600;
        font-size: 16px;
        color: $black;
        text-transform: capitalize;
      }
      .value {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 400;
        color: $blackLight;
      }
    }
  }
}

